.dashboard-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.chart-card {
  flex: 1 1 calc(50% - 20px); /* Ocupa metade da largura, com espaço */
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.chart-card.full-width {
  flex-basis: 100%; /* Ocupa a largura total */
}

/* Garante que o conteúdo do gráfico ocupe o espaço disponível */
mat-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Charts do ngx */
ngx-charts-line-chart {
  width: 100%;
}

/* Responsividade para iframe Power BI */
.powerbi-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* proporção 16:9 */
}

.powerbi-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
