<app-page-header title="Painel de Controle"></app-page-header>

<div *ngIf="isLoading" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading" class="dashboard-grid">

  <mat-card class="chart-card">
    <mat-card-header>
      <mat-card-title>Histórico de Receitas</mat-card-title>
    </mat-card-header>
    <mat-card-content class="chart-content">
      <canvas baseChart [data]="revenueChartData" [options]="lineChartOptions" [type]="lineChartType"></canvas>
    </mat-card-content>
  </mat-card>

  <mat-card class="chart-card">
    <mat-card-header>
      <mat-card-title>Histórico de Despesas</mat-card-title>
    </mat-card-header>
    <mat-card-content class="chart-content">
      <canvas baseChart [data]="expenseChartData" [options]="lineChartOptions" [type]="lineChartType"></canvas>
    </mat-card-content>
  </mat-card>

  <mat-card class="chart-card full-width">
    <mat-card-header>
      <mat-card-title>Receitas vs. Despesas</mat-card-title>
    </mat-card-header>
    <mat-card-content class="chart-content">
      <canvas baseChart [data]="comparisonChartData" [options]="lineChartOptions" [type]="lineChartType"></canvas>
    </mat-card-content>
  </mat-card>

  <!-- Novo card com Power BI -->
  <mat-card class="chart-card full-width">
    <mat-card-header>
      <mat-card-title>Dashboard Power BI</mat-card-title>
    </mat-card-header>
    <mat-card-content class="chart-content">
      <div class="powerbi-wrapper">
        <iframe
          title="teste dash"
          src="https://app.powerbi.com/view?r=eyJrIjoiNDVjNjNkYmEtOWVjMy00OWQ4LWFkZmEtOTFlZDc5NTMyZTUxIiwidCI6IjQ0YWIyNDQ4LWNiYmQtNDQ5OC04OTEyLTI0M2ZjMDBhNDE1MiJ9"
          allowFullScreen="true">
        </iframe>
      </div>
    </mat-card-content>
  </mat-card>

</div>
